@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Municipality ZA</title>
    @* Utilized the Lumen theme bootstrap file from Bootswatch for consistent UI styling (https://bootswatch.com/lumen/) *@
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ST10296167_PROG7312_POE.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/png" href="~/images/icon.png" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand fs-4 fw-bold" asp-area="" asp-controller="Home" asp-action="Index">Municipality ZA</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        <div id="logo" style="position: absolute; top: 60px; right: 20px; z-index: 1000; background-color: transparent; padding: 0; border-radius: 0; box-shadow: none; pointer-events: auto;">
                            <img src="~/images/prog_logo.png" alt="Municipality Logo" style="height: 150px; width: auto; display: block;" />
                        </div>

                        @if (!SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Report" asp-action="ReportMenu">Report Issues</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="EventsAndAnnouncements" asp-action="EventsAndAnnouncements">Events & Announcements</a>
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item d-flex align-items-center me-3">
                                @{
                                    var user = await UserManager.GetUserAsync(User);
                                }
                                <span class="nav-link text-light fw-bold mb-0">@user.Email</span>
                            </li>
                            <li class="nav-item">
                                <form class="form-inline" asp-area="" asp-controller="User" asp-action="Logout">
                                    <button type="submit" class="btn btn-light text-dark">Logout</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <form class="form-inline" asp-area="" asp-controller="User" asp-action="Login">
                                    <button type="submit" class="btn btn-light text-dark">Employee Login</button>
                                </form>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - ST10296167_PROG7312_POE</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
