html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar .nav-link {
    transition: color 0.3s ease;
}

    .navbar .nav-link:hover {
        color: black !important;
    }

.navbar .nav-item span.nav-link:hover {
    color: inherit !important;
}

.navbar .nav-item button.nav-link:hover {
    color: inherit !important;
}

h1 {
    font-size: 3.5rem;
    font-weight: bolder;
    margin-top: 0px;
}